<div class="app">
  <div class="display">
    <div class="state">{{ running ? 'Status: Running' : 'Status: Stopped'}} </div>
    <div class="numbers">
      <span class="mins"> {{ minutes | number:'2.0-0' }}:</span>
      <span class="secs"> {{ seconds | number:'2.0-0' }} </span>
      <span class="millis">.0{{ millis }} </span>
    </div>
  </div>

  <div class="actions">
    <button class="btn start" [class.disabled]="running"
    	(click)="_handleStartClick()">Start</button>

    <button class="btn stop" [class.disabled]="!running"
        (click)="_handleStopClick()">Stop</button>

    <button class="btn reset" [class.disabled]="!running && millis == 0 && seconds == 0 && minutes == 0"
        (click)="_handleResetClick()">Reset</button>
  </div>
</div>